/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

#geluidtekst p {
    color:white;
    font-size:1.2em;
	padding-top: 100px;
	margin-left: 300px;
    position: absolute;
    opacity: 0;
    font-family: "Brenner Slab";
	font-style: Normal;
	font-weight: 450;
}

h1 {
	color: whitesmoke;
}

p {
	color: whitesmoke;
	text-shadow:white;
}

.voice1 {
	font-family: "Brenner Sans Condensed";
font-style: normal;
font-size: 1.8em;
font-weight: 600;
margin-left: 400px;
margin-right: 425px;
padding-top: 5px;
color: white;

}

.voice2 {
	margin-left: 400px;
	margin-right: 425px;
	font-family: "Brenner";
font-style: Italic;
font-size: 1.5em;
font-weight: 400;
color: white;

}

.voice3 {
	font-family: "Brenner Sans Condensed";
	font-style: Italic;
	font-weight: 400;
	font-size: 1.5em;
	margin-left: 400px;
	color: white;

}

.voice4 {
	
	font-family: "Brenner Sans Condensed";
font-style: normal;
font-size: 2em;
font-weight: 600;
margin-left: 400px;
color: #76BEFF;


}

iframe {
	margin-left: 400px;
	margin-top: 100px;
} 


/* The moment the class .sound1 is added to the body, the background is yellow */
.sound1 {
	animation: sound1 1.7s;
	animation-direction: alternate;
	}
	
	@keyframes sound1 {
	0% {background:#171F28;}
	50% {background:red;}
	100% {background:#171F28;}
	}

.sound1 .gt1 {
	animation: tekst 1.6s forwards;	
}

.sound2 {
		animation: sound2 2s;
		animation-direction: alternate;
		}
		
		@keyframes sound2 {
		0% {background:#171F28;}
		10% {background:#069AFF;}
		20% {background: #00FF73;}
		100% {background:#171F28;}
		}

.sound2 .gt2 {
			animation: tekst 1.6s forwards;	
		}

.sound3 {
		animation: sound3 2.5s;
		animation-direction: alternate;
		}
			
		@keyframes sound3 {
		0% {background:#171F28;}
		60% {background:#12496D;}
		70% {background:#00FF73;}
		100% {background:#171F28;}
		}

.sound3 .gt3 {
			animation: tekst 2.2s forwards;	
		}

.sound5 {
		animation: sound5 2.5s;
		animation-direction: alternate;
		}
				
		@keyframes sound5 {
		0% {background:#171F28;}
		60% {background:#12496D;}
		70% {background:#00FF73;}
		100% {background:#171F28;}
		}

.sound5 .gt4 {
			animation: tekst 2.2s forwards;	
		}

.sound7 {
		animation: sound7 2.5s;
		animation-direction: alternate;
		}
					
		@keyframes sound7 {
		0% {background:#171F28;}
		40% {background:#12496D;}
		50% {background:#00FF73;}
		100% {background:#171F28;}
		}

.sound7 .gt5 {
			animation: tekst 2.2s forwards;	
		}


iframe {
	transition: 1s;
}

body {
  background-color: #171F28;
}

.sound9 {
	animation: sound9 41s;
	animation-direction: alternate;
	}

	@keyframes sound9{
		0% {background:#171F28;}
		6% {background:#042f4b;}
		8% {background:#171F28;}
		12% {background:#083c5f;}
		14% {background:#171F28;}
		17% {background:#0d4d77;}
		23% {background:#0d4d77;}
		24% {background:#171F28;}
		26% {background:#145d8d;}
		28% {background:#171F28;}
		31% {background:#1a6aa0;}
		34% {background:#1a6aa0;}
		36% {background:#171F28;}
		38% {background:#237bb6;}
		42% {background:#237bb6;}
		44% {background:#171F28;}
		48% {background:#2a87c5;}
		50% {background:#2a87c5;}
		52% {background:#171F28;}
		53% {background:#3296da;}
		56% {background:#3296da;}
		58% {background:#171F28;}
		62% {background:#40a3e6;}
		64% {background:#40a3e6;}
		65% {background:#171F28;}
		69% {background:#50b1f1;}
		71% {background:#50b1f1;}
		72% {background:#171F28;}
		74% {background:#67c2ff;}
		76% {background:#67c2ff;}
		77% {background:#171F28;}
		79% {background:#171F28;}
		80% {background:#82cbfc;}
		86% {background:#82cbfc;}
		87% {background:#062735;}
		88% {background:#12496D;}
		89% {background:#000000;}
		90% {background:#069AFF;}
		91% {background:#82cbfc;}
		92% {background:#062735;}
		93% {background:#069AFF;}
		94% {background:#000000;}
		95% {background:#86cfff;}
		96% {background:#12496D;}
		98% {background:#069AFF;}
		100% {background:#171F28;}
		}

.sound9 .gt6 {
			animation: tekst 4s forwards;	
		}

.sound10 {}

@keyframes zoominoutsinglefeatured {
	0% {
		transform: scale(1.0, 1.0);
	}
	
	100% {
		transform: scale(1.6, 1.6);
	}
}

.sound10 {
	animation: zoominoutsinglefeatured;
	animation-duration: 43s;
	animation-timing-function: ease-in-out;
}

.sound10 .gt7 {
	animation: tekst 4s forwards;	
}


.v1 {
	font-family: "Brenner Sans Condensed";
	font-style: normal;
	font-size: 1.8em;
	font-weight: 600;
	margin-left: 400px;
	margin-right: 425px;
	color: white;
}

.v2 {
	margin-left: 400px;
	margin-right: 425px;
	font-family: "Brenner";
	font-style: Italic;
	font-size: 1.5em;
	font-weight: 400;
	color: white;
}

@keyframes tekst {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}